* {
    margin: 0;
}

/* type selector
-> body や p などの タイプを指定して、スタイルを定義する */
html,
body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #020213;
}

p {
    margin: 0.5em 0 0.5em 0;
}

header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(8, 8, 66);
    padding: 10px;
}

nav a:visited,
nav a:link{
    color: #e2a7a7;
    border: solid 1px #e2a7a7;
    text-decoration: none;
}

nav > ul {
    display: inline;
    padding: 0;
}

nav > ul > li {
    display: inline-block;
    list-style-type: square;
    margin: 0 5px 0 5px;
}

main {
    display: block;
    /* css の場合、CSSファイルから画像への相対パスで参照している */
    background-image: url("../images/common/borrowed_background.png");
    padding-top: 3em;
    padding-bottom: 3em;
    min-height: 85%;
}

footer {
    padding: 15px;
}

aside,
article {
    padding: 2em;
}


aside {
    text-align: center;
}

article {
    width: 75%;
}

.columns {
    display: inline;
}


@media only screen and (min-width: 768px) {
    main {
        display: flex;
    }

    aside {
        margin-left: 2%;
    }

    .columns-desktop {
        display: flex;
    }
}

/* Characters */

.characters {
    width: 300px;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    border: solid 1px #ccc;
}


/* trivial */
h2, .head{
    color: #00ff80;
}

/* Fotter */
.bottom_links {
    display: flex;
}

.three_elements,
.to_the_world {
    color: #e94d1e;
    flex: 1;
}

.to_the_world {
    display: none;
}

/* 印刷時のルール */
@media print {
    .desktop,
    .mobile {
        display: none;
    }
    .print {
        display: block;
        color: #e94d1e;
    }
}

/* 画面幅に基づくルール */
@media screen and (min-width: 768px) {
    .mobile,
    .print{
        display: none;
    }

    .desktop {
        display: block;
        color: #e94d1e;
    }
}
@media screen and (max-width: 768px) {
    .desktop,
    .print{
        display: none;
    }

    .mobile {
        display: block;
        color: #2cd342;
    }
}

/* Characters */
.characters {
    width: 200px;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    border: solid 1px #ccc;
}

.characters img {
    width: 100%;
}

.characters .type {
    font-weight: bold;
}

.characters button {
    background-color: #f6aeae;
    padding: 10px;
    border: solid 1px #f6aeae;
    border-radius: 3px;
    color: #fff;
}